body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:bisque;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    position: relative;
    border: 3px solid transparent; 
    background-clip: padding-box;
}

.container:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 8px;
    background: linear-gradient(45deg, #00ff22, #493240);
    z-index: -1;
    filter: blur(10px);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input {
    width: calc(100% - 20px);
    padding: 8px 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color:burlywood;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #00b315;
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
